<% @tweets.each do |tweet| %>
    <% begin %>
        <%= User.find(tweet.user_id).uid %>: <%= tweet.message %>
    <% rescue %>
        存在しないユーザ: <%= tweet.message %>
    <% end %>
    <br>
<% end %>

<p><%= link_to "ログイン", "/top/main" %></p>
<p><%= link_to "ユーザ一覧", "/users/" %></p>