<% @tweets.each do |tweet| %>
    <% flg = 0 %>

    <!-- ツイート表示 --->
    <%= User.find(tweet.user_id).uid %>: <%= tweet.message %>
    <br>
    
    <!-- 良いねしているユーザ検索 -->
    <% begin %><!-- 誰もいいねしていない場合errorが出るのを回避 -->
        <!-- u:良いねしているユーザ --->
        <!-- array:良いねしているユーザの配列 --->
        <% array=[] %>
        <% u = @Likes.where(tweet_id: tweet.id) %>
        <% u.each do |u2| %>
            <% array.push(User.find(u2.user_id).uid) %>
            <!-- もしいいねしていたらflg true --->
            <% if User.find(u2.user_id) == current_user %>
                <% flg = 1 %>
            <% end %>
        <% end %>
        
    <% rescue %>
        <% u = 404 %>
    <% end %>
    
    <!-- 表示 --->
    <% if flg == 1 %>
        <%= link_to "いいね削除",like_path(tweet), method: :delete %>
    <% else %>
        <%= link_to "いいね",likes_path(tweet_id: tweet.id), method: :post %>
    <% end %>
    
    <%= link_to "削除","/tweets/#{tweet.id}", method: :delete %>
    <br>
    <!-- いいね表示 -->
    <% if not(u==404) %>
        <% array.each do |a| %>
            <%= a %>
        <% end %>
        がいいねしました。
    <% else %>
        error
    <% end %>
    <br><br>
    <% flg = 0 %>
<% end %>

<p><%= link_to "ツイートする","/tweets/new" %></p>

<p><%= link_to "logout",top_logout_path %></p>

<%= "ログイン中ID:" + current_user.uid %>