<% @users.each do |user| %>
    id:<%= user.uid %><br>
    pass:<%= user.pass %><br>
    <%= link_to "削除","/users/#{user.id}", method: :delete %>
    <br><br>
<% end %>

<p><%= link_to "アカウント新規作成","/users/new" %></p>

<p><%= link_to "ツイート一覧",root_path %> </p>